@import url(https://fonts.googleapis.com/css?family=Merriweather|Open+Sans);

.pullquote{
	float:left;
	padding-top: 20px;
	margin-left: 20px;
}

#pullquote{
	width:600px;
	height:336px;
	padding:25px 25px 10px;
	background: #EBEBEB;
	color: black;
	position:relative;
}

#pullquote img{
	position:absolute;
	height:30px;
	bottom:20px;
	right:20px;
}

#pullquote .quote{
	font-family: 'Merriweather';
}


#pullquote .attribution{
	height:50px;
	position:absolute;
	bottom:15px;
	left:15px;
	font-family: 'Open Sans';
	padding-left: 10px;
	margin-top: -4rem;
}

#pullquote .attribution p.name {
  color: black;
  font-size: 21px;
  margin-bottom: 2px;
}

#pullquote .attribution p.title {
  max-width: 335px;
  line-height: 16px;
  color: black;
}
