@import url(http://fonts.googleapis.com/css?family=Monda);


.fifty{
	width:45%;
	margin-right: 5%;
	float:left;
}
.alert-info{
	max-width: 475px;
}

.pullquote{
	float:left;
	padding-top: 20px;
	margin-left: 20px;
}

#pullquote{
	width:600px;
	height:336px;
	padding:30px 25px 10px;
	background-color: #0C3669;
	color:#fff;
	font-family: 'Merriweather';
	position:relative;

background:
	linear-gradient(-90deg, rgba(256,256,256,.05) 1px, transparent 1px),
	linear-gradient(rgba(256,256,256,.05) 1px, transparent 1px),
	linear-gradient(-90deg, rgba(256,256,256, .06) 1px, transparent 1px),
	linear-gradient(rgba(256,256,256,.06) 1px, transparent 1px),

	linear-gradient(transparent 6px, #26466d 6px, #26466d 158px, transparent 158px),
	linear-gradient(-90deg, rgba(192,192,192,.4) 1px, transparent 1px),
	linear-gradient(-90deg, transparent 4px, #26466d 4px, #26466d 157px, transparent 157px),
	linear-gradient(rgba(192,192,192,.4) 2px, transparent 2px),
	#26466d;
background-size:
	16px 16px,
	16px 16px,
	160px 160px,
	160px 160px,
	160px 160px,
	160px 160px,
	160px 160px,
	160px 160px;

}

#pullquote img{
	position:absolute;
	height:35px;
	bottom:20px;
	right:20px;
}

#pullquote .number{
	font-family: 'Monda';
	letter-spacing: -7px;
	float:left;
	margin-right:25px;
	margin-bottom: 20px;
}
#pullquote .context{
	padding-top: 8px;
}

#pullquote .attribution{
	height:50px;
	position:absolute;
	bottom:15px;
	left:15px;
	font-family: 'Open Sans';
	padding-left: 10px;
}

#pullquote .attribution p.name {
  color: rgb(178,178,178);
  font-size: 21px;
  font-weight: 600;
  margin-bottom: -2px;
}

#pullquote .attribution p.title {
  max-width: 335px;
  line-height: 16px;
}
