.pullquote{
	float:left;
	padding-top: 20px;
	margin-left: 20px;
}

#pullquote{
	width:600px;
	height:336px;
	padding:20px 25px 10px;
	background-color: #26466D;
	color:#fff;
	font-family: 'Merriweather';
	position:relative;
}

#pullquote img{
	position:absolute;
	height:15px;
	bottom:20px;
	right:20px;
}

#pullquote .quote{

}


#pullquote .attribution{
	height:50px;
	position:absolute;
	bottom:15px;
	left:15px;
	font-family: 'Open Sans';
	padding-left: 10px;
}

#pullquote .attribution p.name {
  color: rgb(143, 143, 143);
  font-size: 21px;
  font-weight: 600;
  margin-bottom: -2px;
}

#pullquote .attribution p.title {
  max-width: 335px;
  line-height: 16px;
}