@import url(https://fonts.googleapis.com/css?family=Merriweather|Open+Sans);

.pullquote{
	float:left;
	padding-top: 20px;
	margin-left: 20px;
}

#pullquote{
	width:600px;
	height:336px;
	padding:25px 25px 10px;

	background-size: 100%;
	position:relative;
}

#pullquote img{
	position:absolute;
	height:75px;
	bottom:20px;
	right:20px;
}

#pullquote .quote{
	width: 550px;
	color: white;
	font-style: italic;
	font-family: 'Standard CT';
}


#pullquote .attribution{
	height:50px;
	position:absolute;
	bottom:15px;
	left:15px;
	font-family: 'Proxima Nova';
	padding-left: 10px;
	margin-top: -4rem;
}

#pullquote .attribution p.name {
  color: white;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 2px;
}

#pullquote .attribution p.title {
  max-width: 335px;
  line-height: 16px;
  color: white;
}
