@import url(https://fonts.googleapis.com/css?family=Merriweather|Open+Sans);

.pullquote{
	float:left;
	padding-top: 20px;
	margin-left: 20px;
}

#pullquote{
	width:600px;
	height:336px;
	padding:25px 25px 10px;
	background-color: #AB0202;
	color:#fff;
	font-family: 'Merriweather';
	position:relative;
}

#pullquote img{
	position:absolute;
	height: 20px;
	bottom:20px;
	right:20px;
}

#pullquote .quote{

}


#pullquote .attribution{
	height:50px;
	position:absolute;
	bottom:15px;
	left:15px;
	font-family: 'Open Sans';
	padding-left: 10px;
	margin-top: -4rem;
}

#pullquote .attribution p.name {

  font-size: 21px;
  margin-bottom: 2px;
}

#pullquote .attribution p.title {
  color: #D3D3D3;
  max-width: 335px;
  line-height: 16px;
}
