@import url(http://fonts.googleapis.com/css?family=Merriweather|Open+Sans);

#body{
	padding:10px 20px;

}

#header{
	font-family: 'Merriweather';
	color: white;
	width:100%;
	padding:15px 20px 10px;

background-color: #26466d;
}
#header img{
	height:18px;
	vertical-align: bottom;
}
#header h1{
	font-size: 55px;
	margin-top: -30px;
}

#entry{
	width:40%;
	height:100%;
	padding:10px;
	float:left;
}
.fifty{
	width:50%;
	margin-bottom: 20px;
}

textarea{
	max-height:200px;
}

/*Home page temp styles*/


.property{
	width:475px;
	padding:20px;
	margin:10px auto;
	  font-family: 'Merriweather';
  color: white;
  font-size: 35px;
  transition:background-color .5s linear, background .5s linear;
}

.property:first-child{
	margin-top: 60px;
}
.property img{
	height:30px;
}
.property:hover{
	background-color:rgb(85,85,85);
}

.dmn{
	background-color: #26466d;
}
.aldia{
	background-color: #EBEBEB;
	color:black;
}
.aldia a{
	color:#333;
}
.aldia img {
  margin-left: 166px;
  height: 34px;
}
.property.aldia:hover{
	background-color:rgb(165, 165, 165);
}
.guidelive img {
  margin-left: 254px;
  height: 48px;
}
.property.guidelive:hover{
		background:rgb(85,85,85);
}
.sportsday{
	background-color: #AB0202;
}
.sportsday img {
  margin-left: 62px;
}

a{
	margin:0;
	padding:0;
	color:white;
	transition:color .5s linear;
}
a:hover{
	text-decoration: none;
	color:white;
}



/**/
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	border:1px solid #333 !important;
	background: lightgrey !important;
}