@import url(http://fonts.googleapis.com/css?family=Merriweather|Open+Sans);

#body{
	padding:10px 20px;

}

#header{
	font-family: 'Merriweather';
	color: white;
	width:100%;
	padding:15px 20px 10px;

background-color: #26466d;
background-image: url(http://www.transparenttextures.com/patterns/black-linen.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}
#header img{
	height:18px;
	vertical-align: bottom;
}
#header h1{
	font-size: 55px;
	margin-top: -30px;
}

#entry{
	width:40%;
	height:100%;
	padding:10px;
	float:left;
}
.fifty{
	width:50%;
	margin-bottom: 20px;
}

textarea{
	max-height:200px;
}

.pullquote{
	float:left;
	padding-top: 20px;
	margin-left: 20px;
}

#pullquote{
	width:600px;
	height:336px;
	padding:20px 25px 10px;
	background-color: #26466D;
	color:#fff;
	font-family: 'Merriweather';
	position:relative;
}

#pullquote img{
	position:absolute;
	height:20px;
	bottom:15px;
	right:15px;
}



#pullquote .attribution{
	height:50px;
	position:absolute;
	bottom:15px;
	left:15px;
	font-family: 'Open Sans';
	padding-left: 10px;
}

#pullquote .attribution p.name {
  color: rgb(143, 143, 143);
  font-size: 21px;
  font-weight: 600;
  margin-bottom: -2px;
}

#pullquote .attribution p.title {
  max-width: 335px;
  line-height: 16px;
}



/**/
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	border:1px solid #333 !important;
	background: lightgrey !important;
}