{%extends 'base.html'%}

{%block header%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dmn_number.css')}}">
<style type="text/css">
    #pullquote{
        background-image: url( {{url_for('static', filename='img/graphy.png') }} );
    }
</style>
{%endblock%}


{%block body%}
<div id="entry">
 <form id="quoteForm">
    <div class="form-group">
        <label for="quoteEntry">Big Number:</label>
        <input type="text" name="num" class="form-control" id="numEntry">
    </div>


    <div class="fifty">
    <label for="numSize">Number size:</label>
        <input type="number" id="numSize" name="numSize" readonly style="border:0; color:#767676; font-weight:bold;">
    <div id="numSlider"></div>
    </div>

    <div class="form-group">
        <label for="contextEntry">Number context:</label>
        <textarea type="text" name="numContext" class="form-control" id="contextEntry"></textarea>
    </div>

    <div class="fifty">
    <label for="txtSize">Context size:</label>
        <input type="number" id="txtSize" name="txtSize" readonly style="border:0; color:#767676; font-weight:bold;">
    <div id="txtSlider"></div>
    </div>


    <div class="form-group">
        <label for="nameEntry">Source:</label>
        <input type="text" name="source" class="form-control" id="nameEntry">
    </div>
    <div class="form-group">
        <label for="titleEntry">Source context:</label>
        <input type="text" name="sourceContext" class="form-control" id="titleEntry">
    </div>

    
</form>
<button class="btn btn-default btn-lg">PullQuote >></button>
</div>




<div class="pullquote">
<div id="pullquote">
    <div class="number"></div>
    <div class="context"></div>
    <div class="attribution">
        <p class="name"></p>
        <p class="title"></p>
    </div>
    <img src="{{ url_for('static', filename='img/logo.png')}}">

</div>
</div>
{%endblock%}


{%block footer_js%}
<script src="{{ url_for('static', filename='js/dmn_number.js')}}"></script>
<script type="text/javascript">
$("button").click(function(){
    window.location="https://thetractorbeam.herokuapp.com/image?url="+escape("{{url_for('number_puller', _external=True)}}?" + $("#quoteForm").serialize() ) +"&selector=%23pullquote";
})
</script>
{%endblock footer_js%}