{%extends 'base.html'%}
{%block header%}
{%endblock%}


{%block body%}


<div class="property dmn">
<a href="{{url_for('dmn_quote')}}">
    :Quote <img src="{{ url_for('static', filename='img/tdmnwhite.png')}}">
</a>
</div>



<div class="property dmn stat">
<a href="{{url_for('dmn_number')}}">
   :Stat <img src="{{ url_for('static', filename='img/tdmnwhite.png')}}"> 
</a>
</div>

<div class="property neighborsgo">
<a href="{{url_for('neighborsgo_quote')}}">
    :Quote <img src="{{ url_for('static', filename='img/ngo.png')}}"> 
</a>
</div>

<div class="property aldia">
<a href="{{url_for('aldia_quote')}}">
    :Quote <img src="{{ url_for('static', filename='img/aldia.png')}}">
</a>
</div>

<div class="property guidelive">
<a href="{{url_for('guidelive_quote')}}">
    :Quote <img src="{{ url_for('static', filename='img/guidelive.png')}}"> 
</a>
</div>

<div class="property sportsday">
<a href="{{url_for('sportsday_quote')}}">
    :Quote <img src="{{ url_for('static', filename='img/sportsday.png')}}"> 
</a>
</div>



{%endblock%}