<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PullQuote</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dmn_quote.css')}}">
    </head>
    <body>
        <style type="text/css">
            #pullquote .quote{
                font-size: {{size}}px;
            }
        </style>

    <div class="pullquote">
        <div id="pullquote">
            <div class="quote">{{quote}}</div>
            <div class="attribution">
                <p class="name">{{name}}</p>
                <p class="title">{{title}}</p>
            </div>
            <img src="{{ url_for('static', filename='img/logo.png')}}">

        </div>


    </div>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>


    </body>
</html>