<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SportsDay PullQuote</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/sportsday.css">
    </head>
    <body>

    <div class="pullquote">
        <div id="pullquote">
            <div class="quote">“I wouldn't ever set out to hurt anyone deliberately unless it was important—like a league game.”</div>
            <div class="attribution">
                <p class="name">Dick Butkus</p>
                <p class="title">Former Chicago Bears Linebacker</p>
            </div>
            <img src="images/sportsday.png">

        </div>


    </div>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>


    </body>
</html>
